.artifacts/
.buildtools/
.dumps
.mdbook/
.ruff_cache/
__pycache__/
*.py[cod]
.vs/
.wrangler/
bin/
node_modules/
obj/
**/Localization/*Strings.Designer.cs
.github/.cloudflare/version-endpoint/public/versions.xml
temp/
.tadn_tools/procdump64.exe
**/documentation/mdbook.exe
FanControlTrayAppDotNET/font/FontForge-*.exe
FanControlTrayAppDotNET/src/Resources/PawnIO_setup.exe
