[submodule "BrightnessTrayAppDotNET"]
	path = BrightnessTrayAppDotNET
	url = ../BrightnessTrayAppDotNET
	branch = main
[submodule "FanControlTrayAppDotNET"]
	path = FanControlTrayAppDotNET
	url = ../FanControlTrayAppDotNET
	branch = main
[submodule "TrayAppDotNETCommon"]
	path = TrayAppDotNETCommon
	url = ../TrayAppDotNETCommon
	branch = main
[submodule "NetworkTrayAppDotNET"]
	path = NetworkTrayAppDotNET
	url = ../NetworkTrayAppDotNET
	branch = main
[submodule "VolumeTrayAppDotNET"]
	path = VolumeTrayAppDotNET
	url = ../VolumeTrayAppDotNET
	branch = main
