**/documentation/mdbook.exe
**/Localization/*Strings.Designer.cs
*.py[cod]
.artifacts/
.buildtools/
.dumps
.github/.cloudflare/version-endpoint/public/versions.xml
.mdbook/
.ruff_cache/
.tadn_tools/procdump64.exe
.vs/
.wrangler/
__pycache__/
bin/
FanControlTrayAppDotNET/font/FontForge-*.exe
FanControlTrayAppDotNET/src/Resources/PawnIO_setup.exe
node_modules/
obj/
temp/
